.keep-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.keep-header input {
    /* border: 2px solid rgb(207, 204, 204); */
    box-shadow: -1px 1px 6px 0px;
    border-radius: 20px;
    max-width: 500px;
    flex-grow: 1;
}

.keep-header .side-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.keep-header h1 {
    font-size: 2rem;
    margin: 0;
}

.keep-header span {
    font-size: 1.5rem;
}

.keep-header img {
    height: 80%;
    object-fit: cover;

}