.main-keep-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 90px 10px;
}

.blur {
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    /* background-color: aquamarine; */
}

.blur >*:not(.note-details) {
    filter: blur(0.5rem);
    /* opacity: .5; */
}

.btn:hover {
    cursor: pointer;
}