.note-txt-preview {
    background-color: antiquewhite;
}

.note-img-preview {
    background-color: rgb(200, 121, 101);
}

.note-img-preview img{
    object-fit: cover;
    width: 100%;
}

.note-preview {
    break-inside: avoid;
    border: 2px solid black;
    margin: 5px 0;
}