.add-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: -1px 1px 6px 0px;
    padding: 10px;
    max-width: 700px;
    border-radius: 25px;
}

.add-note-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.add-actions>* {
    margin-inline-end: 10px;
}

.add-note span {
    font-size: 1.5rem;
    opacity: .7;
    transition: .4s;
}

.add-note span:hover {
    cursor: pointer;
    opacity: 1;
    /* scale: 1.1; */
}

.add-note input {
    border: none;
    padding: 5px;
}

.todo-input-container {
    display: flex;
    flex-direction: column;
}