.note-details {
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    min-width: 300px;
    min-height: 200px;
    max-height: 500px;
    border-radius: 20px;
    background-color: rgb(255 244 229);
    z-index: 9;
    opacity: 1;
    /* text-align: center; */
    /* display: flex;
    flex-direction: column; */
    /* padding: 10px; */
}

.note-details button {
    align-self: center;
}

.note-details img {
    border-radius: inherit;
    object-fit: contain;
    max-height: 500px;
    /* height: 100%; */
}

.note-details cite {
    background-color: rgb(223, 215, 215);
    border: none;
}

.todos-details li {
    border-bottom: 1px solid black;
}

.note-details h3 {
    border-block-end: 3px solid black;
}

.todos-details input {
    padding: 3px;
    background-color: transparent;
}

.note-details input {
    background-color: transparent;
}

.todos-details h5 {
    margin: 0;
}