.headlines-container {  
    display: grid;
    grid-template-columns: 20px 20px 200px 1fr 55.6px;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    gap: 0px 10px;
    grid-auto-flow: row;
    align-items: center;
    grid-template-areas:
      ". . . . .";
    border-bottom: 0.1px var(--clr-mail1) solid;
    align-items: center; 
}

.email-container {  
    display: grid;
    grid-template-columns: 20px 20px 200px 1fr 55.6px;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    gap: 0px 10px;
    grid-auto-flow: row;
    align-items: center;
    grid-template-areas:
      ". . . . .";
    align-items: center; 
    border-bottom: 0.1px var(--clr-mail1) solid;
}

  

.emails-container {
    width: 100%;
}




.headlines-container td {
    height: 40px;
}

.headlines-container td:last-child, .email-container td:last-child {
    align-self: center;
}