.main-header-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.main-header-features .appsus-menu-btn {
    height: 40%;
    margin-inline-end: 30px;
    filter: invert(37%) sepia(6%) saturate(433%) hue-rotate(173deg) brightness(99%) contrast(88%);
}

.email-logo {
    margin-inline-start: 30px;
    align-self: center;
}